Django>=5.2.5
djangorestframework>=3.17.1
djangorestframework-simplejwt
requests>=2.32.5
urllib3>=2.5.0
charset_normalizer>=3.4.4
idna>=3.11
certifi>=2025.11.12
google-api-python-client>=2.187.0
google-auth>=2.43.0
google-auth-httplib2>=0.2.1
google-api-core
google-generativeai
grpcio
httplib2>=0.31.0
Pillow>=12.0.0
proto-plus
pyasn1>=0.6.1
pyasn1-modules>=0.4.2
pydantic>=2.12.5
pydantic-core>=2.41.5
pyparsing>=3.2.5
reportlab>=4.4.4
rsa>=4.9.1
sqlparse>=0.5.3
tqdm>=4.67.1
tzdata>=2025.2
uritemplate>=4.2.0
typing-extensions>=4.15.0
typing-inspection>=0.4.2
flet
flet-cli
flet-desktop
flet-geolocator
flet-map
flet-web
flet-webview
httpx